<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Notes App</title>
        <link rel="stylesheet" href="styles.css">
        <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            <div id="title_div">
                <h1 id="title">{{ title }}</h1>
            </div>
            <!-- <button v-on:click="check_login()">Check Login</button> -->
            <div id="login_form">
                <h2>Username</h3>
                <input name="username" type="text"
                    v-model="username" placeholder="Username">
                <h2>Password</h3>
                <input name="password" type="password"
                    v-model="password" placeholder="Password">
                <br>
                <button v-on:click="register()">Register</button>
                <button v-on:click="login()">Login</button>
                <br>
            </div>

            <div class="loader"></div>

            <div id="notes_div">

            </div>
        </div>

        <script src="./script.js"></script>
    </body>
</html>